<a href="https://colab.research.google.com/github/altn714/ESAA/blob/main/p256_263.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 시계열 데이터 : 일정 시간 간격으로 어떤 값을 기록

날씨 관측 데이터, 에볼라 전염병으로 인한 사망저 수 관측 데이터, 빌보드 차트 데이터 (모두 시계열 데이터 포함)

# datetime 오브젝트
- datetime 라이브러리 : 날짜와 시간을 처리하는 다양한 기능 제공
- date 오브젝트: 날짜 처리
- time 오브젝트: 시간처리
- datetime 오브젝트 : 날짜와 시간 모두 처리

In [47]:
#datetime 오브젝트 사용하기 

#datetime 라이브러리 불러옴
from datetime import datetime

#now,today 메서드 (현재 시간 출력)
now1=datetime.now()
print(now1)

now2=datetime.today()
print(now2)

2022-10-10 08:50:30.011869
2022-10-10 08:50:30.012000

datetime 오브젝트 : 시간 직접 입력하여 인자 전달

In [48]:
t1 = datetime.now()
print(t1)
#now 메서드는 밀리초 단위까지 구별

t2=datetime(1970,1,1)
print(t2)

t3=datetime(1970,12,12,13,24,34)
print(t3)

2022-10-10 08:50:30.417501
1970-01-01 00:00:00
1970-12-12 13:24:34

datetime 쓰는 이유: 시간계산 할 수 있음.

In [49]:
#datetime 오브젝트의 차이 

diff1=t1-t2
print(diff1)
print(type(diff1))

diff2 = t2-t1
print(diff2)
print(type(diff2))
#마이너스로 결과값 나옴.

19275 days, 8:50:30.417501
<class 'datetime.timedelta'>
-19276 days, 15:09:29.582499
<class 'datetime.timedelta'>

# 테슬라 주식 데이터로 시간 계산

In [50]:
pip install pandas-datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.9.1)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2022.4)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2022.9.24)

In [51]:
import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader as pdr

In [52]:
#get_data_quanal 메서드에 TSLA 문자열 전달
#tesla에는 데이터프레임이 저장
#나스닥 사이트에서 키 받기(로그인 해야함)
tesla = pdr.get_data_quandl('TSLA', api_key = '5acEiZm2yGGsAsFGQLWf')

#tesla에 저장된 데이터프레임을 파일로 저장
tesla.to_csv('/content/tesla')

#tesla 데이터 프래임의 date열은 문자열로 저장됨, 즉, datetime 오브젝트로 자료형 변환해야 계산 가능.

In [53]:
print(tesla.head())

              Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

# date열 datetime 형으로 변환

In [54]:
#read_csv 메서드로 데이터 집합 불러올 때, parse_dates 인자에 date 열 전달
tesla = pd.read_csv('/content/tesla',parse_dates=[0])
print(tesla.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        114 non-null    datetime64[ns]
 1   Open        114 non-null    float64
 2   High        114 non-null    float64
 3   Low         114 non-null    float64
 4   Close       114 non-null    float64
 5   Volume      114 non-null    float64
 6   ExDividend  114 non-null    float64
 7   SplitRatio  114 non-null    float64
 8   AdjOpen     114 non-null    float64
 9   AdjHigh     114 non-null    float64
 10  AdjLow      114 non-null    float64
 11  AdjClose    114 non-null    float64
 12  AdjVolume   114 non-null    float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 11.7 KB
None

- date열의 자료형이 datetime 오브젝트로 변환
- dt 접근자 사용 가능

In [55]:
#불린 추출로 2018년 3월 데이터 추출
tesla.loc[(tesla.Date.dt.year==2018) & (tesla.Date.dt.month==3)]

,Date,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
0,2018-03-27,304.00,304.27,277.1800,279.18,13696168.0,0.0,1.0,304.00,304.27,277.1800,279.18,13696168.0
1,2018-03-26,307.34,307.59,291.3600,304.18,8324639.0,0.0,1.0,307.34,307.59,291.3600,304.18,8324639.0
2,2018-03-23,311.25,311.61,300.4500,301.54,6600538.0,0.0,1.0,311.25,311.61,300.4500,301.54,6600538.0
3,2018-03-22,313.89,318.82,308.1800,309.10,4914307.0,0.0,1.0,313.89,318.82,308.1800,309.10,4914307.0
4,2018-03-21,310.25,322.44,310.1900,316.53,5927881.0,0.0,1.0,310.25,322.44,310.1900,316.53,5927881.0
5,2018-03-20,314.87,316.25,308.7600,310.55,4726182.0,0.0,1.0,314.87,316.25,308.7600,310.55,4726182.0
6,2018-03-19,316.50,320.75,309.6700,313.56,7440766.0,0.0,1.0,316.50,320.75,309.6700,313.56,7440766.0
7,2018-03-16,325.96,327.40,319.0700,321.35,6058612.0,0.0,1.0,325.96,327.40,319.0700,321.35,6058612.0
8,2018-03-15,329.38,332.85,321.1000,325.60,6366922.0,0.0,1.0,329.38,332.85,321.1000,325.60,6366922.0
9,2018-03-14,336.76,339.81,323.9300,326.63,7932511.0,0.0,1.0,336.76,339.81,323.9300,326.63,7932511.0
10,2018-03-13,344.92,345.12,336.2635,341.84,5932110.0,0.0,1.0,344.92,345.12,336.2635,341.84,5932110.0
11,2018-03-12,328.61,347.21,326.5000,345.51,8212156.0,0.0,1.0,328.61,347.21,326.5000,345.51,8212156.0
12,2018-03-09,324.10,328.49,322.3700,327.17,5479716.0,0.0,1.0,324.10,328.49,322.3700,327.17,5479716.0
13,2018-03-08,332.86,333.30,326.2740,329.10,3476944.0,0.0,1.0,332.86,333.30,326.2740,329.10,3476944.0
14,2018-03-07,325.44,332.50,321.7400,332.30,5007297.0,0.0,1.0,325.44,332.50,321.7400,332.30,5007297.0
15,2018-03-06,333.75,336.37,327.0300,328.20,4285744.0,0.0,1.0,333.75,336.37,327.0300,328.20,4285744.0
16,2018-03-05,332.39,337.75,329.2929,333.35,3823769.0,0.0,1.0,332.39,337.75,329.2929,333.35,3823769.0
17,2018-03-02,326.98,335.22,322.9700,335.12,5092829.0,0.0,1.0,326.98,335.22,322.9700,335.12,5092829.0
18,2018-03-01,345.01,348.67,330.0700,330.93,6885601.0,0.0,1.0,345.01,348.67,330.0700,330.93,6885601.0

# datetime 오브젝트를 인덱스로 지정
##이유: 원하는 시간의 데이터를 바로 추출

In [56]:
tesla.index = tesla['Date']
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2017-10-24', '2017-10-23', '2017-10-20', '2017-10-19',
               '2017-10-18', '2017-10-17', '2017-10-16', '2017-10-13',
               '2017-10-12', '2017-10-11'],
              dtype='datetime64[ns]', name='Date', length=114, freq=None)

In [59]:
#datetime 오브젝트를 인덱스로 지정했을 때, 데이터추출하는 방법
#1. 2018년 데이터 뽑고, 5개 행 5개 열 뽑아라.
print(tesla['2018'].iloc[:5,:5])

                 Date    Open    High     Low   Close
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [72]:
#tesla 데이터 프레임의 Date 열에서 dt중 년도만 뽑음
#그리고, 년도의 갯수를 셈
tesla.Date.dt.year.value_counts()

2018    59
2017    55
Name: Date, dtype: int64

In [61]:
#2018년 6월의 데이터 추출
#모든 행 다 뽑고 열은 4개 추출
print(tesla['2018-01'].iloc[:,:5])

                 Date    Open      High      Low     Close
Date
2018-01-31 2018-01-31  347.51  356.1900  345.190  354.4200
2018-01-30 2018-01-30  345.14  348.2700  342.170  345.8200
2018-01-29 2018-01-29  339.85  350.8500  338.280  349.5300
2018-01-26 2018-01-26  341.50  344.0000  335.710  342.8500
2018-01-25 2018-01-25  348.27  349.2000  336.400  337.6400
2018-01-24 2018-01-24  354.58  354.7500  343.520  345.7404
2018-01-23 2018-01-23  360.00  360.5000  351.000  352.7900
2018-01-22 2018-01-22  349.40  357.8300  349.200  351.5600
2018-01-19 2018-01-19  345.00  350.5899  342.600  350.0200
2018-01-18 2018-01-18  345.67  352.3000  343.740  344.5700
2018-01-17 2018-01-17  340.47  349.0000  339.750  347.1600
2018-01-16 2018-01-16  337.54  345.0000  334.800  340.0600
2018-01-12 2018-01-12  338.63  340.4100  333.670  336.2200
2018-01-11 2018-01-11  335.24  344.8099  333.260  337.9500
2018-01-10 2018-01-10  332.20  337.0000  330.000  334.8000
2018-01-09 2018-01-09  335.16  338.8000  327.405  333.6900
2018-01-08 2018-01-08  316.00  337.0199  315.500  336.4100
2018-01-05 2018-01-05  316.62  317.2400  312.000  316.5800
2018-01-04 2018-01-04  312.87  318.5500  305.680  314.6200
2018-01-03 2018-01-03  321.00  325.2500  315.550  317.2500
2018-01-02 2018-01-02  312.00  322.1099  311.000  320.5300

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  This is separate from the ipykernel package so we can avoid doing imports until

# 시간 간격과 인덱스 -TimedeltaIndex
#### datetime 오브젝트를 인덱스로 지정하는 것이 아닌 시간간격을 인덱스로 지정

In [73]:
#Date 열에서 Date 열의 최솟값을 빼면 데이터를 수집한 이후 시간이 얼마나 흘렀는지 계산

#Date 열에서 Date 열의 최솟값 뺀 것 -> ref_date 열 추가
tesla['ref_date'] = tesla['Date']-tesla['Date'].min()
print(tesla.head())

                 Date    Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume  \
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

           ref_date
Date
2018-03-27 167 days
2018-03-26 166 days
2018-03-23 163 days
2018-03-22 162 days
2018-03-21 161 days

In [75]:
#ref_date 열 인덱스 지정
tesla.index = tesla['ref_date']
print(tesla.iloc[:5,:5])
#인덱스 열 제외 행 5개 열 5개 추출

               Date    Open    High     Low   Close
ref_date
167 days 2018-03-27  304.00  304.27  277.18  279.18
166 days 2018-03-26  307.34  307.59  291.36  304.18
163 days 2018-03-23  311.25  311.61  300.45  301.54
162 days 2018-03-22  313.89  318.82  308.18  309.10
161 days 2018-03-21  310.25  322.44  310.19  316.53

In [77]:
#데이터 수집 이후, 최초 5일의 데이터 추출
# '5 days' 에 : 붙이면 0days 부터 5days 까지 인덱싱 해줌.
print(tesla['5 days':].iloc[:5, :5])

               Date    Open    High     Low   Close
ref_date
5 days   2017-10-16  353.76  354.48  347.16  350.60
2 days   2017-10-13  356.98  358.49  353.68  355.57
1 days   2017-10-12  352.95  359.78  352.64  355.68
0 days   2017-10-11  353.89  357.60  351.15  354.60

# 시간 범위와 인덱스
#### 특정 일에 누락된 데이터도 포함시켜 데이터 살펴보기.

In [91]:
ebola=pd.read_csv('/content/country_timeseries.csv', parse_dates=[0])
print(ebola.iloc[:5,:5])
#2015년 1월 1일 자료 누락됨

print(ebola.iloc[-5:, :5])
#2014년 3월 23일 자료 누락됨

        Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0 2015-01-05  289        2776.0            NaN            10030.0
1 2015-01-04  288        2775.0            NaN             9780.0
2 2015-01-03  287        2769.0         8166.0             9722.0
3 2015-01-02  286           NaN         8157.0                NaN
4 2014-12-31  284        2730.0         8115.0             9633.0
          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
117 2014-03-27    5         103.0            8.0                6.0
118 2014-03-26    4          86.0            NaN                NaN
119 2014-03-25    3          86.0            NaN                NaN
120 2014-03-24    2          86.0            NaN                NaN
121 2014-03-22    0          49.0            NaN                NaN

In [93]:
#date_range 메서드 사용 (2014-12-31일부터 2015년-01-05 사이의 시간 인덱스 생성 datetimeIndex 생성)
head_range = pd.date_range(start='2014-12-31', end='2015-01-05')
print(head_range)

DatetimeIndex(['2014-12-31', '2015-01-01', '2015-01-02', '2015-01-03',
               '2015-01-04', '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

In [95]:
ebola_5 = ebola.head()
ebola_5.index = ebola_5['Date'] #Date 열 인덱스로 먼저 지정
ebola_5.reindex(head_range) #주피터 누트북에 실행결과 바로 낱남.
print(ebola_5.iloc[:5, :5])

                 Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
Date
2015-01-05 2015-01-05  289        2776.0            NaN            10030.0
2015-01-04 2015-01-04  288        2775.0            NaN             9780.0
2015-01-03 2015-01-03  287        2769.0         8166.0             9722.0
2015-01-02 2015-01-02  286           NaN         8157.0                NaN
2014-12-31 2014-12-31  284        2730.0         8115.0             9633.0