<a href="https://colab.research.google.com/github/altn714/ESAA/blob/main/%EC%B7%A8%ED%95%A9_%EB%AF%B8%EB%8B%88%ED%94%8C%EC%A0%9D2_%EC%A0%84%EC%B2%98%EB%A6%AC%EB%B0%98%EC%98%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 데이터셋 불러오기

In [35]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [36]:
import numpy as np
import pandas as pd

In [37]:
pd.options.display.float_format = '{:.2f}'.format

In [38]:
train = pd.read_csv("/content/train 지역변수 추가.csv")
test = pd.read_csv("/content/test 지역변수 추가.csv")
sb = pd.read_csv("/content/submission_sample.csv")

In [39]:
test.head(3)

,inst_id,OC,sido,sgg,openDate,bedCount,instkind,revenue1,salescost1,sga1,salary1,noi1,noe1,interest1,ctax1,profit1,liquidAsset1,quickAsset1,receivableS1,inventoryAsset1,nonCAsset1,tanAsset1,OnonCAsset1,receivableL1,debt1,liquidLiabilities1,shortLoan1,NCLiabilities1,longLoan1,netAsset1,surplus1,revenue2,salescost2,sga2,salary2,noi2,noe2,interest2,ctax2,profit2,liquidAsset2,quickAsset2,receivableS2,inventoryAsset2,nonCAsset2,tanAsset2,OnonCAsset2,receivableL2,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange,hospital_count
0,2,NaN,incheon,139,19981125.00,300.00,general_hospital,66824864410.00,0.00,65657092101.00,32236953402.00,4314093449.00,4901516562.00,1775872236.00,76680000.00,503669196.00,25913847298.00,24387412809.00,724257978.00,1526434489.00,48072817614.00,46299313665.00,746312240.00,0.00,67690895830.00,54260878189.00,38059269376.00,13430017641.00,6319096673.00,6295769082.00,8944587276.00,63603752482.00,0.00,62611262314.00,30169456545.00,4076448390.00,4332356668.00,1578625701.00,218399804.00,518182086.00,24989917015.00,23679279656.00,1237753941.00,1310637359.00,46501910026.00,43562963177.00,796386240.00,0.00,55406431667.00,50684431667.00,37143344381.00,4720000000.00,4690000000.00,16085395374.00,8944587276.00,693.00,693.00,same,1.00
1,5,NaN,jeju,149,20160309.00,44.00,hospital,34957575568.00,0.00,32592697196.00,16722544253.00,68710235.00,1981032861.00,1936454791.00,0.00,452555746.00,5861727241.00,5372198189.00,661028976.00,489529052.00,75110103878.00,66786481122.00,4500000.00,0.00,66267365958.00,42109451947.00,23300000000.00,24157914011.00,17200000000.00,14704465161.00,10462774450.00,37542526998.00,0.00,38685229259.00,18977322462.00,191802228.00,3694365215.00,2016114115.00,0.00,-4645265248.00,5503720305.00,4943368382.00,154430728.00,560351923.00,65593789830.00,65453024830.00,14500000.00,0.00,67308375170.00,42098280733.00,24200000000.00,25210094437.00,18300000000.00,3789134965.00,0.00,379.00,371.00,same,1.00
2,6,NaN,jeonnam,103,19890427.00,276.00,general_hospital,23260305967.00,2542570943.00,23087485220.00,11687337552.00,1601942757.00,1380941439.00,810120395.00,0.00,-2148748878.00,12653132775.00,11339218657.00,7337106674.00,1313914118.00,29454672516.00,28306315536.00,138806980.00,0.00,0.00,28306315536.00,21822782890.00,0.00,0.00,0.00,16385400958.00,24680345066.00,1500100033.00,23739495734.00,11911460194.00,236121643.00,1328858389.00,625923370.00,15210270.00,-1667197717.00,13542016215.00,12638512618.00,7003702834.00,903503597.00,29388100802.00,27775892339.00,428850980.00,0.00,0.00,27775892339.00,21822782890.00,0.00,0.00,0.00,16385400958.00,NaN,NaN,NaN,3.00

In [40]:
train.head(3)

,inst_id,OC,sido,sgg,openDate,bedCount,instkind,revenue1,salescost1,sga1,salary1,noi1,noe1,interest1,ctax1,profit1,liquidAsset1,quickAsset1,receivableS1,inventoryAsset1,nonCAsset1,tanAsset1,OnonCAsset1,receivableL1,debt1,liquidLiabilities1,shortLoan1,NCLiabilities1,longLoan1,netAsset1,surplus1,revenue2,salescost2,sga2,salary2,noi2,noe2,interest2,ctax2,profit2,liquidAsset2,quickAsset2,receivableS2,inventoryAsset2,nonCAsset2,tanAsset2,OnonCAsset2,receivableL2,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange,hospital_count
0,1,open,choongnam,73,20071228,175.00,nursing_hospital,4217530010.00,0.00,3961134739.00,2033835290.00,15652441.00,15236236.00,13236236.00,31641798.00,225169678.00,1012699685.00,997671878.00,470055740.00,15027807.00,2514586477.00,2360683543.00,143449600.00,0.00,682825991.00,201323700.00,0.00,481502291.00,351000000.00,2844460171.00,1496394171.00,4297848250.00,0.00,4057421812.00,2063787360.00,16194675.00,29983354.00,15683046.00,18808074.00,207829685.00,830169459.00,816570489.00,523702570.00,13598970.00,2548114776.00,2386262842.00,145898600.00,0.00,758993742.00,222876855.00,0.00,536116887.00,390000000.00,2619290493.00,1271224493.00,62.00,64.00,same,14.00
1,3,open,gyeongnam,32,19970401,410.00,general_hospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,801.00,813.00,same,5.00
2,4,open,gyeonggi,89,20161228,468.00,nursing_hospital,1004521989.00,515483669.00,447219722.00,296402310.00,76156.00,30000.00,0.00,0.00,41864754.00,272442138.00,253682170.00,8095950.00,18759968.00,120481028.00,120481028.00,0.00,0.00,92414342.00,92414342.00,0.00,0.00,0.00,300508824.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,234.00,1.00,same,17.00

In [41]:
train.describe()

,inst_id,sgg,openDate,bedCount,revenue1,salescost1,sga1,salary1,noi1,noe1,interest1,ctax1,profit1,liquidAsset1,quickAsset1,receivableS1,inventoryAsset1,nonCAsset1,tanAsset1,OnonCAsset1,receivableL1,debt1,liquidLiabilities1,shortLoan1,NCLiabilities1,longLoan1,netAsset1,surplus1,revenue2,salescost2,sga2,salary2,noi2,noe2,interest2,ctax2,profit2,liquidAsset2,quickAsset2,receivableS2,inventoryAsset2,nonCAsset2,tanAsset2,OnonCAsset2,receivableL2,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,hospital_count
count,301.00,301.00,301.00,296.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,291.00,288.00,299.00
mean,219.06,81.04,20050125.80,145.71,12881747447.99,2014902794.59,10332439064.09,5654114566.90,269615124.57,511587022.57,186896557.27,78473220.78,210170013.40,3536586531.43,3414761591.75,697586157.96,115453344.05,11406727757.46,10534082118.15,340650296.67,251680.24,8765309695.37,4352924983.20,1758237408.65,4583473025.00,2646563537.79,5938212711.98,1265934904.06,11709054481.61,1842095257.74,9203487186.56,5023229977.34,222381267.86,561766892.66,173635978.89,68322593.34,256343936.62,3222852351.53,3106104321.46,610306968.80,106366730.83,10452140878.21,9651555200.27,323292139.29,222670.00,8146026488.79,3860583593.41,1510050431.99,4471247363.88,2709978815.42,5273919018.09,978627865.26,142.55,134.33,10.23
std,121.23,50.97,88938.15,118.92,20435433475.62,7460270656.57,14938862491.95,8083342530.26,802370115.51,1060379255.45,273865779.39,248610223.50,1134673320.88,6285995139.54,6093581292.15,1455331773.15,255170204.15,17105158994.37,15745251181.29,935938128.19,4308071.75,12861120755.28,6474261880.15,3194539704.26,7847530015.19,4697523199.71,12660352066.28,8248320818.01,18949978541.33,6744177967.94,13525668185.60,7406529701.28,527463657.86,1121855845.15,269389414.10,242851235.00,1111962861.42,6015754809.82,5823175588.82,1455248632.34,249009945.80,16495382441.75,15217916762.69,878435543.80,3811496.45,12557995349.37,6797242094.08,2953412250.37,7659580436.40,4564001071.00,10812593821.25,4688797890.98,160.19,151.06,6.22
min,1.00,1.00,19780124.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-4696700774.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-20196244362.00,-2914969563.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-4064822885.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-20147802018.00,-2781506722.00,0.00,0.00,1.00
25%,112.00,37.00,20011017.00,52.75,3252111902.00,0.00,2758200772.00,1626052720.00,8217133.00,80133952.00,50664742.00,0.00,-2168279.00,719925338.00,680651243.00,0.00,4177116.00,2900012337.00,2700123623.00,968000.00,0.00,1953076690.00,511012058.00,0.00,428500000.00,0.00,1224795478.00,0.00,2731341817.00,0.00,2253260463.00,1347917753.00,6453360.00,64731681.00,31429692.00,0.00,0.00,470362319.00,452686749.00,0.00,2054789.00,2479445642.00,2338407470.00,0.00,0.00,1283220350.00,285574118.00,0.00,25578782.00,0.00,1017572570.00,0.00,53.50,53.75,5.00
50%,230.00,75.00,20071126.00,136.50,5524218104.00,210410492.00,4684074465.00,2659892367.00,43637641.00,183196506.00,109732873.00,1024900.00,81307510.00,1516732005.00,1473800649.00,215856423.00,24083074.00,6100798930.00,5549396982.00,35825261.00,0.00,4457666685.00,1754751686.00,229570425.00,2036935000.00,1136775833.00,3033906841.00,0.00,5005326364.00,173299410.00,4170070288.00,2365337858.00,43262276.00,171601490.00,94223002.00,1006880.00,101169101.00,1234391621.00,1199564450.00,116044900.00,24564307.00,5591345750.00,5124337672.00,27336000.00,0.00,3784552900.00,1454049945.00,85425488.00,1969746813.00,1100000000.00,2894969804.00,0.00,80.00,79.00,10.00
75%,321.00,123.00,20111021.00,193.00,12748392940.00,910527771.00,10778762060.00,6363400069.00,205033071.00,420333030.00,224230817.00,44353960.00,293032909.00,3379067297.00,3273840865.00,694060470.00,105226432.00,12973123136.00,12154992794.00,203820000.00,0.00,9437916643.00,5415331190.00,2139742158.00,4901484871.00,3327097704.00,5982549568.00,126160000.00,11956904127.00,842205893.00,9806518426.00,5564047504.00,161976131.00,477447263.00,199357358.00,33234030.00,319725604.00,2959040957.00,2865958309.00,627382529.00,80868500.00,11777324736.00,10972572263.00,233785000.00,0.00,8465053127.00,4364713622.00,1567966980.00,4905441439.00,3360000000.00,5370284792.00,101444685.00,181.50,170.00,15.50
max,428.00,178.00,20170607.00,656.00,151000000000.00,98503322990.00,103000000000.00,64035593950.00,9144170639.00,8686379500.00,2841474870.00,2808883191.00,7475426881.00,42808356695.00,41791456468.00,14092571696.00,2067763564.00,156000000000.00,156000000000.00,10085168680.00,73742310.00,86697249913.00,39373879374.00,19885197610.00,55017362619.00,41124897062.00,139000000000.00,134000000000.00,137000000000.00,86581590331.00,98378400364.00,61279110456.00,4035894971.00,8826977467.00,2593366043.00,2790916274.00,10270365720.00,40818694405.00,39705368784.00,16342538605.00,1812222311.00,164000000000.00,163000000000.00,8767966280.00,65242310.00,85088583901.00,68468775764.00,17593752360.00,51503883627.00,32561472110.00,125000000000.00,68527297093.00,1200.00,1200.00,20.00

### # 변수설명
inst_id - 각 파일에서의 병원 고유 번호   
OC – 영업/폐업 분류, 2018년 폐업은 2017년 폐업으로 간주함    
sido – 병원의 광역 지역 정보    
sgg – 병원의 시군구 자료     
openDate – 병원 설립일    
bedCount - 병원이 갖추고 있는 병상의 수       
instkind – 병원, 의원, 요양병원, 한의원, 종합병원 등 병원의 종류    
·        종합병원 : 입원환자 100명 이상 수용 가능    
·        병원 : 입원 환자 30명 이상 100명 미만 수용 가능     
·        의원 : 입원 환자 30명 이하 수용 가능      
·        한방 병원(한의원) : 침술과 한약으로 치료하는 의료 기관.    
revenue1 – 매출액 / salescost1 – 매출원가      
sga1 - 판매비와 관리비 / salary1 – 급여   
noi1 – 영업외수익 / noe1 – 영업외비용      
Interest1 – 이자비용 / ctax1 – 법인세비용     
Profit1 – 당기순이익 / liquidAsset1 – 유동자산      
quickAsset1 – 당좌자산 / receivableS1 - 미수금(단기)       
inventoryAsset1 – 재고자산 / nonCAsset1 – 비유동자산     
tanAsset1 – 유형자산 / OnonCAsset1 - 기타 비유동자산       
receivableL1 – 장기미수금 / debt1 – 부채총계      
liquidLiabilities1 – 유동부채 / shortLoan1 – 단기차입금    
NCLiabilities1 – 비유동부채 / longLoan1 – 장기차입금    
netAsset1 – 순자산총계 / surplus1 – 이익잉여금    
employee1 – 고용한 총 직원의 수     
ownerChange – 대표자의 변동

# 2. EDA 및 전처리

In [42]:
train.isnull().sum()

inst_id                0
OC                     0
sido                   0
sgg                    0
openDate               0
bedCount               5
instkind               1
revenue1               8
salescost1             8
sga1                   8
salary1                8
noi1                   8
noe1                   8
interest1              8
ctax1                  8
profit1                8
liquidAsset1           8
quickAsset1            8
receivableS1           8
inventoryAsset1        8
nonCAsset1             8
tanAsset1              8
OnonCAsset1            8
receivableL1           8
debt1                  8
liquidLiabilities1     8
shortLoan1             8
NCLiabilities1         8
longLoan1              8
netAsset1              8
surplus1               8
revenue2               8
salescost2             8
sga2                   8
salary2                8
noi2                   8
noe2                   8
interest2              8
ctax2                  8
profit2                8
liquidAsset2           8
quickAsset2            8
receivableS2           8
inventoryAsset2        8
nonCAsset2             8
tanAsset2              8
OnonCAsset2            8
receivableL2           8
debt2                  8
liquidLiabilities2     8
shortLoan2             8
NCLiabilities2         8
longLoan2              8
netAsset2              8
surplus2               8
employee1             10
employee2             13
ownerChange           12
hospital_count         2
dtype: int64

In [43]:
test.isnull().sum()

inst_id                 0
OC                    127
sido                    0
sgg                     0
openDate                1
bedCount                8
instkind                2
revenue1                2
salescost1              2
sga1                    2
salary1                 2
noi1                    2
noe1                    2
interest1               2
ctax1                   2
profit1                 2
liquidAsset1            2
quickAsset1             2
receivableS1            2
inventoryAsset1         2
nonCAsset1              2
tanAsset1               2
OnonCAsset1             2
receivableL1            2
debt1                   2
liquidLiabilities1      2
shortLoan1              2
NCLiabilities1          2
longLoan1               2
netAsset1               2
surplus1                2
revenue2                2
salescost2              2
sga2                    2
salary2                 2
noi2                    2
noe2                    2
interest2               2
ctax2                   2
profit2                 2
liquidAsset2            2
quickAsset2             2
receivableS2            2
inventoryAsset2         2
nonCAsset2              2
tanAsset2               2
OnonCAsset2             2
receivableL2            2
debt2                   2
liquidLiabilities2      2
shortLoan2              2
NCLiabilities2          2
longLoan2               2
netAsset2               2
surplus2                2
employee1               8
employee2              15
ownerChange            15
hospital_count          2
dtype: int64

### (1) 레이블 데이터 : 인코딩

In [44]:
from sklearn.preprocessing import LabelEncoder

# OC : 'close': 0, 'open': 1 처리해주기
print(train['OC'].value_counts()) #인코딩전 확인
encoder1 = LabelEncoder()
train['OC']=encoder1.fit_transform(train['OC'])
print(train['OC'].value_counts()) #인코딩후 확인

# 테스트데이터셋은 OC가 모두 NaN이므로 레이블인코딩 처리x

open      286
 close     15
Name: OC, dtype: int64
1    286
0     15
Name: OC, dtype: int64

### (2) 피처 데이터 : 결측치 처리 및 인코딩

* 문자열 피처의 결측치는 Not_sure 로 대체.
* 숫자형 피처의 결측치는 -9999 로 대체.

#### (2)-1. ints_id, sgg

In [45]:
# inst_id : 인덱스 중복이므로 열 버리기
# sgg : sido와 정보가 겹치므로 열 버리기
train.drop(['inst_id','sgg'],axis=1,inplace=True)
test.drop(['inst_id','sgg'],axis=1,inplace=True)

#### (2)-2. 문자열 피처

In [46]:
## 문자열 피처에서 결측치가 존재할 경우, 'Not_sure'로 대체
# 문자열 피처중 instkind, ownerChange 에서 결측치 존재

train['instkind'] = train['instkind'].fillna('Not_sure')
test['instkind'] = test['instkind'].fillna('Not_sure')

train['ownerChange'] = train['ownerChange'].fillna('Not_sure')
test['ownerChange'] = test['ownerChange'].fillna('Not_sure')

#### (2)-3. 숫자형 피처중 금융변수

In [47]:
## 숫자형 피처중 금융변수에서 결측치(NaN) 존재

# open&같은행번호에서 공통적으로 8개의 결측치가 나타난다. 
print(train[train['revenue1'].isnull()]['OC'])
print(train[train['shortLoan2'].isnull()]['OC'])

# 같은행번호에서 공통적으로 2개의 결측치가 나타난다.
print(test[test['revenue1'].isnull()])
print(test[test['shortLoan2'].isnull()])

1      1
14     1
32     1
55     1
60     1
248    1
257    1
258    1
Name: OC, dtype: int64
1      1
14     1
32     1
55     1
60     1
248    1
257    1
258    1
Name: OC, dtype: int64
    OC     sido    openDate  bedCount          instkind  revenue1  salescost1  \
15 NaN    busan 19950330.00    226.00  general_hospital       NaN         NaN
56 NaN  jeonbuk 20121218.00    539.00  nursing_hospital       NaN         NaN

    sga1  salary1  noi1  noe1  interest1  ctax1  profit1  liquidAsset1  \
15   NaN      NaN   NaN   NaN        NaN    NaN      NaN           NaN
56   NaN      NaN   NaN   NaN        NaN    NaN      NaN           NaN

    quickAsset1  receivableS1  inventoryAsset1  nonCAsset1  tanAsset1  \
15          NaN           NaN              NaN         NaN        NaN
56          NaN           NaN              NaN         NaN        NaN

    OnonCAsset1  receivableL1  debt1  liquidLiabilities1  shortLoan1  \
15          NaN           NaN    NaN                 NaN         NaN
56          NaN           NaN    NaN                 NaN         NaN

    NCLiabilities1  longLoan1  netAsset1  surplus1  revenue2  salescost2  \
15             NaN        NaN        NaN       NaN       NaN         NaN
56             NaN        NaN        NaN       NaN       NaN         NaN

    sga2  salary2  noi2  noe2  interest2  ctax2  profit2  liquidAsset2  \
15   NaN      NaN   NaN   NaN        NaN    NaN      NaN           NaN
56   NaN      NaN   NaN   NaN        NaN    NaN      NaN           NaN

    quickAsset2  receivableS2  inventoryAsset2  nonCAsset2  tanAsset2  \
15          NaN           NaN              NaN         NaN        NaN
56          NaN           NaN              NaN         NaN        NaN

    OnonCAsset2  receivableL2  debt2  liquidLiabilities2  shortLoan2  \
15          NaN           NaN    NaN                 NaN         NaN
56          NaN           NaN    NaN                 NaN         NaN

    NCLiabilities2  longLoan2  netAsset2  surplus2  employee1  employee2  \
15             NaN        NaN        NaN       NaN     566.00     566.00
56             NaN        NaN        NaN       NaN     250.00     200.00

   ownerChange  hospital_count
15        same            2.00
56        same            6.00
    OC     sido    openDate  bedCount          instkind  revenue1  salescost1  \
15 NaN    busan 19950330.00    226.00  general_hospital       NaN         NaN
56 NaN  jeonbuk 20121218.00    539.00  nursing_hospital       NaN         NaN

    sga1  salary1  noi1  noe1  interest1  ctax1  profit1  liquidAsset1  \
15   NaN      NaN   NaN   NaN        NaN    NaN      NaN           NaN
56   NaN      NaN   NaN   NaN        NaN    NaN      NaN           NaN

    quickAsset1  receivableS1  inventoryAsset1  nonCAsset1  tanAsset1  \
15          NaN           NaN              NaN         NaN        NaN
56          NaN           NaN              NaN         NaN        NaN

    OnonCAsset1  receivableL1  debt1  liquidLiabilities1  shortLoan1  \
15          NaN           NaN    NaN                 NaN         NaN
56          NaN           NaN    NaN                 NaN         NaN

    NCLiabilities1  longLoan1  netAsset1  surplus1  revenue2  salescost2  \
15             NaN        NaN        NaN       NaN       NaN         NaN
56             NaN        NaN        NaN       NaN       NaN         NaN

    sga2  salary2  noi2  noe2  interest2  ctax2  profit2  liquidAsset2  \
15   NaN      NaN   NaN   NaN        NaN    NaN      NaN           NaN
56   NaN      NaN   NaN   NaN        NaN    NaN      NaN           NaN

    quickAsset2  receivableS2  inventoryAsset2  nonCAsset2  tanAsset2  \
15          NaN           NaN              NaN         NaN        NaN
56          NaN           NaN              NaN         NaN        NaN

    OnonCAsset2  receivableL2  debt2  liquidLiabilities2  shortLoan2  \
15          NaN           NaN    NaN                 NaN         NaN
56          NaN           NaN    NaN                 NaN         NaN

    NCLiabilities2  longLoan2  netAsset2  surplus2  employee1  employee2  \
15             NaN        NaN        NaN       NaN     566.00     566.00
56             NaN        NaN        NaN       NaN     250.00     200.00

   ownerChange  hospital_count
15        same            2.00
56        same            6.00

In [48]:
#NAN인 관측치 처리(dropna)
fin_list=['revenue1', 'salescost1', 'sga1', 'salary1', 'noi1', 'noe1',
       'interest1', 'ctax1', 'profit1', 'liquidAsset1', 'quickAsset1',
       'receivableS1', 'inventoryAsset1', 'nonCAsset1', 'tanAsset1',
       'OnonCAsset1', 'receivableL1', 'debt1', 'liquidLiabilities1',
       'shortLoan1', 'NCLiabilities1', 'longLoan1', 'netAsset1', 'surplus1',
       'revenue2', 'salescost2', 'sga2', 'salary2', 'noi2', 'noe2',
       'interest2', 'ctax2', 'profit2', 'liquidAsset2', 'quickAsset2',
       'receivableS2', 'inventoryAsset2', 'nonCAsset2', 'tanAsset2',
       'OnonCAsset2', 'receivableL2', 'debt2', 'liquidLiabilities2',
       'shortLoan2', 'NCLiabilities2', 'longLoan2', 'netAsset2', 'surplus2']
train.dropna(subset=fin_list, axis=0,inplace=True)
test.dropna(subset=fin_list, axis=0,inplace=True)
#0인 관측치 처리
train[fin_list]=train[fin_list].replace(0 ,-9999)
test[fin_list]=test[fin_list].replace(0 ,-9999)

In [49]:
## 확인
train.describe()
test.describe()
# 최소값이 -9999로 나타난다.

,OC,openDate,bedCount,revenue1,salescost1,sga1,salary1,noi1,noe1,interest1,ctax1,profit1,liquidAsset1,quickAsset1,receivableS1,inventoryAsset1,nonCAsset1,tanAsset1,OnonCAsset1,receivableL1,debt1,liquidLiabilities1,shortLoan1,NCLiabilities1,longLoan1,netAsset1,surplus1,revenue2,salescost2,sga2,salary2,noi2,noe2,interest2,ctax2,profit2,liquidAsset2,quickAsset2,receivableS2,inventoryAsset2,nonCAsset2,tanAsset2,OnonCAsset2,receivableL2,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,hospital_count
count,0.00,124.00,117.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,117.00,110.00,123.00
mean,NaN,20051094.52,169.21,18244463540.64,3973316996.92,13404099377.96,7415083481.50,517550943.86,870429839.07,316824605.63,114857719.31,394071216.34,4418037033.57,4232243849.70,870473998.22,178376266.86,16051526629.17,14896462743.12,404885724.93,2614617.56,13377518408.73,6851129344.37,2927571974.77,6761560444.23,4204387984.68,6731169248.50,1985861706.57,16664775699.88,3642242755.50,12104068075.19,6631637935.90,433683591.05,787026869.94,323393748.77,81503704.32,487179701.39,4111470391.57,3934686305.29,688389358.94,167405694.92,14277845768.58,13362086746.19,351380428.85,9812.14,11898510453.52,5633430404.30,2181708828.60,6495023576.14,4482679464.70,6116176908.94,1648468118.22,200.77,185.70,5.36
std,NaN,87977.09,122.32,31335295203.80,14199484016.62,20544811497.04,12100434313.87,1193138748.39,1804461563.60,458778630.57,308981070.38,1813462235.36,7521406479.37,7273518609.75,2227549813.73,318643574.14,22372394746.11,21116181044.03,1060221326.34,29103962.35,20165417334.64,11475200053.33,5627847946.25,10907073196.05,5889710895.28,10263986906.88,5569806327.41,29160191337.29,13014660278.71,19177793977.90,11203547577.54,1044751125.85,1691778554.34,553849834.24,223659985.48,1698042677.30,7741020868.47,7462307948.01,1857911899.36,304989981.18,21784181447.93,20854040335.74,979110643.08,221495.23,19711821181.87,9662048497.46,4952450662.56,12036734451.61,7517021833.95,9813462299.32,4779445755.36,277.61,242.55,3.68
min,NaN,19760409.00,0.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-5734451117.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-3821589613.00,-8636717673.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-4645265248.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-2955957091.00,-8600000000.00,16.00,0.00,1.00
25%,NaN,20000876.00,94.00,3235888530.00,-9999.00,3083860292.00,1666742310.00,16410940.00,83655518.00,52591629.00,-9999.00,10602231.00,820736077.00,754920511.00,1235600.00,1245000.00,4569689384.00,4236533525.00,4900000.00,-9999.00,2174968345.00,577069711.00,-9999.00,850000000.00,400000000.00,1735155943.00,-9999.00,2968797323.00,-9999.00,2664095879.00,1364295627.00,10381452.00,52938716.00,39766943.00,-9999.00,-9999.00,387778576.00,385686389.00,-9999.00,-9999.00,2857352809.00,2807762809.00,-9999.00,-9999.00,1679896491.00,391415567.00,-9999.00,132136760.00,-9999.00,949265633.00,-9999.00,59.00,54.25,2.00
50%,NaN,20071066.00,154.00,6637115540.00,189692304.00,5716501623.00,3263054070.00,53191709.00,231519005.00,150785906.00,8433480.00,146380757.00,1734400213.00,1671187318.00,210391970.00,41864552.00,7257672915.00,6617844688.00,51674083.00,-9999.00,5278504783.00,2291389188.00,589911856.00,2941014494.00,2040000000.00,3154172062.00,-9999.00,5944442070.00,136085133.00,5203995098.00,2898863180.00,49915330.00,203589664.00,135971407.00,-9999.00,135126380.00,1593779102.00,1505507137.00,149800050.00,28776267.00,5764482916.00,5450482767.00,33173766.00,-9999.00,4494217146.00,1554505639.00,300000000.00,2030000000.00,1750000000.00,2427138957.00,-9999.00,104.00,97.00,4.00
75%,NaN,20113446.50,212.00,17040391156.00,1192329214.00,14452425786.00,7198103374.00,371459225.00,663350300.00,338427728.00,59942018.00,452555746.00,4265551738.00,3827923325.00,962620719.00,194485043.00,15361654966.00,14948642771.00,240000000.00,-9999.00,14771180259.00,7301730547.00,2779650340.00,7198410531.00,5067510000.00,6295769082.00,1208224077.00,16002235597.00,957522929.00,12621964551.00,7094175850.00,254652613.00,789245776.00,306630164.00,26025480.00,516958813.00,4344680646.00,3915392956.00,740330025.00,162281948.00,14043973537.00,11871143997.00,204899800.00,-9999.00,14120305387.00,6586241453.00,2650000000.00,5700000000.00,4857047850.00,5881964991.00,693516549.00,222.00,231.75,7.50
max,NaN,20170531.00,771.00,181000000000.00,116000000000.00,127000000000.00,82395611833.00,7302719335.00,11496795211.00,2573803974.00,2308489420.00,11208159317.00,43870284311.00,41979652806.00,21441826107.00,1818617919.00,130000000000.00,117000000000.00,7537348637.00,325392770.00,129000000000.00,68916350701.00,38059269376.00,85286333620.00,26425324332.00,49434037769.00,34114713245.00,170000000000.00,107000000000.00,122000000000.00,78900698511.00,6445389817.00,12518423585.00,3925279031.00,1336396350.00,11303536389.00,55591590517.00,53481868205.00,18084349377.00,1627064008.00,125000000000.00,113000000000.00,7112779552.00,2466393.00,131000000000.00,52414267533.00,37143344381.00,78556538604.00,36202877976.00,49244922328.00,25617866194.00,1816.00,1547.00,13.00

#### (2)-4. bedcount, employee

In [50]:
## 숫자형 피처의 결측치는 -9999로 대체
train['bedCount']=train['bedCount'].fillna(-9999)
test['bedCount']=test['bedCount'].fillna(-9999)

train['employee1']=train['employee1'].fillna(-9999)
test['employee1']=test['employee1'].fillna(-9999)

train['employee2']=train['employee2'].fillna(-9999)
test['employee2']=test['employee2'].fillna(-9999)

#### (2)-5. 피처 인코딩 처리

In [51]:
## 문자열 피처 인코딩 처리
## 전처리 후 마지막에

# sido는 레이블인코딩 (sido의 개별관측치가 많아 원핫인코딩을 하게 되면 변수개수가 너무많아지기 때문.)
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
train['sido'] = encoder.fit_transform(train['sido'])
test['sido'] = encoder.fit_transform(test['sido'])

# instkind, ownerChange는 원핫인코딩
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [52]:
## 확인
train.head(3)
# sido는 숫자형변수로, instkind, ownerChange는 더미변수로 잘 바뀜.

,OC,sido,openDate,bedCount,revenue1,salescost1,sga1,salary1,noi1,noe1,interest1,ctax1,profit1,liquidAsset1,quickAsset1,receivableS1,inventoryAsset1,nonCAsset1,tanAsset1,OnonCAsset1,receivableL1,debt1,liquidLiabilities1,shortLoan1,NCLiabilities1,longLoan1,netAsset1,surplus1,revenue2,salescost2,sga2,salary2,noi2,noe2,interest2,ctax2,profit2,liquidAsset2,quickAsset2,receivableS2,inventoryAsset2,nonCAsset2,tanAsset2,OnonCAsset2,receivableL2,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,hospital_count,instkind_Not_sure,instkind_clinic,instkind_dental_clinic,instkind_general_hospital,instkind_hospital,instkind_nursing_hospital,instkind_traditional_clinic,instkind_traditional_hospital,ownerChange_Not_sure,ownerChange_change,ownerChange_same
0,1,2,20071228,175.00,4217530010.00,-9999.00,3961134739.00,2033835290.00,15652441.00,15236236.00,13236236.00,31641798.00,225169678.00,1012699685.00,997671878.00,470055740.00,15027807.00,2514586477.00,2360683543.00,143449600.00,-9999.00,682825991.00,201323700.00,-9999.00,481502291.00,351000000.00,2844460171.00,1496394171.00,4297848250.00,-9999.00,4057421812.00,2063787360.00,16194675.00,29983354.00,15683046.00,18808074.00,207829685.00,830169459.00,816570489.00,523702570.00,13598970.00,2548114776.00,2386262842.00,145898600.00,-9999.00,758993742.00,222876855.00,-9999.00,536116887.00,390000000.00,2619290493.00,1271224493.00,62.00,64.00,14.00,0,0,0,0,0,1,0,0,0,0,1
2,1,8,20161228,468.00,1004521989.00,515483669.00,447219722.00,296402310.00,76156.00,30000.00,-9999.00,-9999.00,41864754.00,272442138.00,253682170.00,8095950.00,18759968.00,120481028.00,120481028.00,-9999.00,-9999.00,92414342.00,92414342.00,-9999.00,-9999.00,-9999.00,300508824.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,-9999.00,234.00,1.00,17.00,0,0,0,0,0,1,0,0,0,0,1
3,1,10,20000814,353.00,72507342181.00,-9999.00,70677397660.00,31786048663.00,506223059.00,1259567512.00,1196881219.00,173769780.00,902830288.00,13041543085.00,11534749645.00,-9999.00,1506793440.00,43179356963.00,38320784344.00,3945208068.00,-9999.00,42363797762.00,27991880794.00,19885197610.00,14371916968.00,7253039927.00,13857102286.00,8643659325.00,66858336474.00,-9999.00,64924192738.00,29711345895.00,476807804.00,1353672354.00,1277421934.00,218891720.00,838387466.00,11125720580.00,9890539620.00,-9999.00,1235180960.00,39583561930.00,34855762555.00,3915906050.00,-9999.00,37755010512.00,17018596586.00,9219427379.00,20736413926.00,15100000000.00,12954271998.00,7740829037.00,663.00,663.00,2.00,0,0,0,1,0,0,0,0,0,0,1

# 3. 파생변수 만들기

### (1) 금융변수

In [53]:
## 성장성
# 매출액 증가율 = 당기매출액/ 전기매출액*100 -100
train['revenueGrowth']=(train['revenue1']/train['revenue2'])*100-100
# 총자산 증가율 = 당기총자산/ 전기총자산*100 -100
train['netAssetGrowth']=(train['netAsset1']+train['debt1'])/(train['netAsset2']+train['debt2'])*100 -100

## 수익성
# 자기자본순이익률(ROE)=당기순이익/자기자본*100
train['ROE']=(train['profit1']/train['netAsset1'])*100
# 매출순이익률 = 당기순이익/매출액*100
train['ROS'] = train.profit1/train.revenue1*100
# 배당성향 = 배당금/당기순이익
train['dividendPayoutRatio'] = (train.profit1-train.surplus1)/train.profit1
# 이자보상비율 = 영업이익/이자비용*100
# (영업손익은 매출액 등의 영업수익으로부터 매출원가ㆍ판매비와관리비 등의 영업비용을 차감한 개념, 영업 외 이익과 비용도 차감)
train['interestCoverageRatio'] = (train.revenue1-train.salescost1-train.sga1-train.noi1-train.noe1)/train.interest1*100

## 안정성
# 유동비율 = 유동자산/유동부채*100 (바람직: 200%이상)
train['liquidRatio']=(train['liquidAsset1']/train['liquidLiabilities1'])*100
# 당좌비율 = 당좌자산/유동부채*100 (바람직: 100%이상)
train['quickRatio']=(train['quickAsset1']/train['liquidLiabilities1'])*100
# 부채비율 = 부채/자본*100
train['debtRatio']=(train['debt1']/(train['debt1']+train['netAsset1']))*100
# 자기자본비율 = 자기자본/총자본*100
train['netAssetRatio']=train.netAsset1/(train.debt1+train.netAsset1)*100

## 활동성
# 재고자산회전율 = 매출원가/평균재고자산
train['inventoryTurnover']=train.salescost1/((train.inventoryAsset1+train.inventoryAsset2)/2)

In [54]:
## 성장성
# 매출액 증가율 = 당기매출액/ 전기매출액*100 -100
test['revenueGrowth']=(test['revenue1']/test['revenue2'])*100-100
# 총자산 증가율 = 당기총자산/ 전기총자산*100 -100
test['netAssetGrowth']=(test['netAsset1']+test['debt1'])/(test['netAsset2']+test['debt2'])*100 -100

## 수익성
# 자기자본순이익률(ROE)=당기순이익/자기자본*100
test['ROE']=(test['profit1']/test['netAsset1'])*100
# 매출순이익률 = 당기순이익/매출액*100
test['ROS'] = test.profit1/test.revenue1*100
# 배당성향 = 배당금/당기순이익
test['dividendPayoutRatio'] = (test.profit1-test.surplus1)/test.profit1
# 이자보상비율 = 영업이익/이자비용*100
# (영업손익은 매출액 등의 영업수익으로부터 매출원가ㆍ판매비와관리비 등의 영업비용을 차감한 개념, 영업 외 이익과 비용도 차감)
test['interestCoverageRatio'] = (test.revenue1-test.salescost1-test.sga1-test.noi1-test.noe1)/test.interest1*100

## 안정성
# 유동비율 = 유동자산/유동부채*100 (바람직: 200%이상)
test['liquidRatio']=(test['liquidAsset1']/test['liquidLiabilities1'])*100
# 당좌비율 = 당좌자산/유동부채*100 (바람직: 100%이상)
test['quickRatio']=(test['quickAsset1']/test['liquidLiabilities1'])*100
# 부채비율 = 부채/자본*100
test['debtRatio']=(test['debt1']/(test['debt1']+test['netAsset1']))*100
# 자기자본비율 = 자기자본/총자본*100
test['netAssetRatio']=test.netAsset1/(test.debt1+test.netAsset1)*100

## 활동성
# 재고자산회전율 = 매출원가/평균재고자산
test['inventoryTurnover']=test.salescost1/((test.inventoryAsset1+test.inventoryAsset2)/2)

In [55]:
## 확인
fin_Ratio_list = ['revenueGrowth', 'netAssetGrowth',
    'ROE', 'ROS', 'dividendPayoutRatio', 'interestCoverageRatio',
    'liquidRatio', 'quickRatio', 'debtRatio','netAssetRatio',
    'inventoryTurnover']
train[fin_Ratio_list].describe()

fin_Ratio_list = ['revenueGrowth', 'netAssetGrowth',
    'ROE', 'ROS', 'dividendPayoutRatio', 'interestCoverageRatio',
    'liquidRatio', 'quickRatio', 'debtRatio','netAssetRatio',
    'inventoryTurnover']
test[fin_Ratio_list].describe()
# min값에 0이 없고, max값에 inf가 없다.

,revenueGrowth,netAssetGrowth,ROE,ROS,dividendPayoutRatio,interestCoverageRatio,liquidRatio,quickRatio,debtRatio,netAssetRatio,inventoryTurnover
count,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00
mean,-3370252.68,-5693214.26,649874.38,-223201.67,-5.59,515784.17,154.13,149.95,59.81,40.19,-4116.05
std,18294722.87,22121305.24,3579168.37,2495399.84,27.69,6221739.36,263.98,260.52,22.57,22.57,22000.90
min,-135183193.89,-140406111.76,-3411950.94,-27899424.66,-255.10,-6325280.24,3.03,3.03,2.39,-34.90,-172634.69
25%,-3.14,-3.41,0.75,0.11,-3.34,-536.84,46.52,44.73,49.16,25.27,-0.00
50%,2.06,1.25,5.01,1.95,1.00,10.79,85.00,81.07,59.45,40.55,4.84
75%,8.95,7.58,10.58,4.67,1.00,133.27,145.17,141.40,74.73,50.84,20.37
max,9362.25,149.89,25016319.71,99.92,18.54,69123223.39,1843.15,1843.15,134.90,97.61,3019.94

### (2) 중소병원/대형병원

In [56]:
train.loc[train.bedCount>300,'hospital_size']=1
train.loc[train.bedCount<=300,'hospital_size']=0

### (3) 지역 내 병원종류수

In [57]:
#  이건 모델 돌리고나서 만들기

# 4. 피처 정규화

* 표준화 : 정규분포를 가진 값으로 변환 
            (x-mean)/sd
* 정규화 : 개별 데이터의 크기를 모두 똑같은 단위로 변경
            (x-min)/(max-min)

In [58]:
#금융변수 정규화
from sklearn.preprocessing import MinMaxScaler
train.loc[:,'revenue1':'surplus2'] = MinMaxScaler().fit_transform(train.loc[:,'revenue1':'surplus2'])
train.loc[:,'revenueGrowth':'inventoryTurnover'] = MinMaxScaler().fit_transform(train.loc[:,'revenueGrowth':'inventoryTurnover'])
test.loc[:,'revenue1':'surplus2'] = MinMaxScaler().fit_transform(test.loc[:,'revenue1':'surplus2'])
test.loc[:,'revenueGrowth':'inventoryTurnover'] = MinMaxScaler().fit_transform(test.loc[:,'revenueGrowth':'inventoryTurnover'])

In [59]:
#전체 데이터 확인
pd.set_option('display.max_columns', None) # 전체 열 보기

In [60]:
#정규화 여부 확인
train.describe()
#금융변수의 최솟값은 0 최댓값은 1로 정규화가 잘 되었다고 볼 수 있다.

,OC,sido,openDate,bedCount,revenue1,salescost1,sga1,salary1,noi1,noe1,interest1,ctax1,profit1,liquidAsset1,quickAsset1,receivableS1,inventoryAsset1,nonCAsset1,tanAsset1,OnonCAsset1,receivableL1,debt1,liquidLiabilities1,shortLoan1,NCLiabilities1,longLoan1,netAsset1,surplus1,revenue2,salescost2,sga2,salary2,noi2,noe2,interest2,ctax2,profit2,liquidAsset2,quickAsset2,receivableS2,inventoryAsset2,nonCAsset2,tanAsset2,OnonCAsset2,receivableL2,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,hospital_count,instkind_Not_sure,instkind_clinic,instkind_dental_clinic,instkind_general_hospital,instkind_hospital,instkind_nursing_hospital,instkind_traditional_clinic,instkind_traditional_hospital,ownerChange_Not_sure,ownerChange_change,ownerChange_same,revenueGrowth,netAssetGrowth,ROE,ROS,dividendPayoutRatio,interestCoverageRatio,liquidRatio,quickRatio,debtRatio,netAssetRatio,inventoryTurnover,hospital_size
count,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,292.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00,293.00
mean,0.95,7.10,20050586.95,-29.42,0.09,0.02,0.10,0.09,0.03,0.06,0.07,0.03,0.40,0.08,0.08,0.05,0.06,0.07,0.07,0.03,0.00,0.10,0.11,0.09,0.08,0.06,0.16,0.03,0.09,0.02,0.09,0.08,0.06,0.06,0.07,0.02,0.30,0.08,0.08,0.04,0.06,0.06,0.06,0.04,0.00,0.10,0.06,0.09,0.09,0.08,0.18,0.05,-140.39,-252.14,10.31,0.00,0.06,0.00,0.11,0.30,0.48,0.01,0.03,0.03,0.14,0.82,0.99,0.98,0.48,0.01,0.65,0.40,1.00,1.00,0.11,0.89,0.99,0.08
std,0.22,4.20,88543.37,1321.05,0.14,0.08,0.15,0.13,0.09,0.12,0.10,0.09,0.09,0.15,0.15,0.10,0.12,0.11,0.10,0.09,0.06,0.15,0.16,0.16,0.14,0.11,0.08,0.06,0.14,0.08,0.14,0.12,0.13,0.13,0.10,0.09,0.08,0.15,0.15,0.09,0.14,0.10,0.09,0.10,0.06,0.15,0.10,0.17,0.15,0.14,0.07,0.07,1661.05,1933.14,6.21,0.06,0.23,0.06,0.32,0.46,0.50,0.12,0.16,0.18,0.35,0.38,0.07,0.10,0.05,0.06,0.05,0.05,0.06,0.06,0.07,0.07,0.08,0.27
min,0.00,0.00,19780124.00,-9999.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-9999.00,-9999.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,1.00,3.00,20011221.00,50.00,0.02,0.00,0.03,0.03,0.00,0.01,0.02,0.00,0.39,0.02,0.02,0.00,0.00,0.02,0.02,0.00,0.00,0.02,0.01,0.00,0.01,0.00,0.13,0.02,0.02,0.00,0.02,0.02,0.00,0.01,0.01,0.00,0.28,0.01,0.01,0.00,0.00,0.02,0.01,0.00,0.00,0.02,0.00,0.00,0.00,0.00,0.15,0.04,51.00,50.00,5.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,1.00,0.48,0.00,0.66,0.40,1.00,1.00,0.09,0.87,1.00,0.00
50%,1.00,8.00,20071203.00,132.00,0.04,0.00,0.05,0.04,0.00,0.02,0.04,0.00,0.39,0.04,0.04,0.02,0.01,0.04,0.04,0.00,0.00,0.05,0.04,0.01,0.04,0.03,0.15,0.02,0.04,0.00,0.04,0.04,0.01,0.02,0.04,0.00,0.29,0.03,0.03,0.01,0.01,0.03,0.03,0.00,0.00,0.04,0.02,0.00,0.04,0.03,0.16,0.04,78.00,76.00,10.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,1.00,0.48,0.00,0.66,0.40,1.00,1.00,0.10,0.90,1.00,0.00
75%,1.00,10.00,20111018.00,185.00,0.08,0.01,0.10,0.10,0.02,0.05,0.08,0.02,0.41,0.08,0.08,0.05,0.05,0.08,0.08,0.02,0.00,0.11,0.14,0.11,0.09,0.08,0.16,0.02,0.09,0.01,0.10,0.09,0.04,0.05,0.08,0.01,0.31,0.07,0.07,0.04,0.04,0.07,0.07,0.03,0.00,0.10,0.06,0.09,0.10,0.10,0.18,0.04,164.00,153.00,17.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,0.00,0.00,0.00,1.00,1.00,1.00,0.48,0.00,0.66,0.40,1.00,1.00,0.13,0.91,1.00,0.00
max,1.00,15.00,20170607.00,656.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1200.00,1200.00,20.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

In [61]:
## 정규화 여부 확인
test[fin_list].describe()
#금융변수의 최솟값은 0 최댓값은 1로 정규화가 잘 되었다고 볼 수 있다.

,revenue1,salescost1,sga1,salary1,noi1,noe1,interest1,ctax1,profit1,liquidAsset1,quickAsset1,receivableS1,inventoryAsset1,nonCAsset1,tanAsset1,OnonCAsset1,receivableL1,debt1,liquidLiabilities1,shortLoan1,NCLiabilities1,longLoan1,netAsset1,surplus1,revenue2,salescost2,sga2,salary2,noi2,noe2,interest2,ctax2,profit2,liquidAsset2,quickAsset2,receivableS2,inventoryAsset2,nonCAsset2,tanAsset2,OnonCAsset2,receivableL2,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2
count,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00
mean,0.10,0.03,0.11,0.09,0.07,0.08,0.12,0.05,0.36,0.10,0.10,0.04,0.10,0.12,0.13,0.05,0.01,0.10,0.10,0.08,0.08,0.16,0.20,0.25,0.10,0.03,0.10,0.08,0.07,0.06,0.08,0.06,0.32,0.07,0.07,0.04,0.10,0.11,0.12,0.05,0.01,0.09,0.11,0.06,0.08,0.12,0.17,0.30
std,0.17,0.12,0.16,0.15,0.16,0.16,0.18,0.13,0.11,0.17,0.17,0.10,0.18,0.17,0.18,0.14,0.09,0.16,0.17,0.15,0.13,0.22,0.19,0.13,0.17,0.12,0.16,0.14,0.16,0.14,0.14,0.17,0.11,0.14,0.14,0.10,0.19,0.17,0.18,0.14,0.09,0.15,0.18,0.13,0.15,0.21,0.19,0.14
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.02,0.00,0.02,0.02,0.00,0.01,0.02,0.00,0.34,0.02,0.02,0.00,0.00,0.04,0.04,0.00,0.00,0.02,0.01,0.00,0.01,0.02,0.10,0.20,0.02,0.00,0.02,0.02,0.00,0.00,0.01,0.00,0.29,0.01,0.01,0.00,0.00,0.02,0.02,0.00,0.00,0.01,0.01,0.00,0.00,0.00,0.07,0.25
50%,0.04,0.00,0.05,0.04,0.01,0.02,0.06,0.00,0.35,0.04,0.04,0.01,0.02,0.06,0.06,0.01,0.00,0.04,0.03,0.02,0.03,0.08,0.13,0.20,0.03,0.00,0.04,0.04,0.01,0.02,0.03,0.00,0.30,0.03,0.03,0.01,0.02,0.05,0.05,0.00,0.00,0.03,0.03,0.01,0.03,0.05,0.10,0.25
75%,0.09,0.01,0.11,0.09,0.05,0.06,0.13,0.03,0.37,0.10,0.09,0.04,0.11,0.12,0.13,0.03,0.00,0.11,0.11,0.07,0.08,0.19,0.19,0.23,0.09,0.01,0.10,0.09,0.04,0.06,0.08,0.02,0.32,0.08,0.07,0.04,0.10,0.11,0.11,0.03,0.00,0.11,0.13,0.07,0.07,0.13,0.17,0.27
max,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

In [62]:
#정규화 여부 확인
test[fin_Ratio_list].describe()
#금융변수의 최솟값은 0 최댓값은 1로 정규화가 잘 되었다고 볼 수 있다

,revenueGrowth,netAssetGrowth,ROE,ROS,dividendPayoutRatio,interestCoverageRatio,liquidRatio,quickRatio,debtRatio,netAssetRatio,inventoryTurnover
count,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00,125.00
mean,0.98,0.96,0.14,0.99,0.91,0.09,0.08,0.08,0.43,0.57,0.96
std,0.14,0.16,0.13,0.09,0.10,0.08,0.14,0.14,0.17,0.17,0.13
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,1.00,1.00,0.12,1.00,0.92,0.08,0.02,0.02,0.35,0.45,0.98
50%,1.00,1.00,0.12,1.00,0.94,0.08,0.04,0.04,0.43,0.57,0.98
75%,1.00,1.00,0.12,1.00,0.94,0.08,0.08,0.08,0.55,0.65,0.98
max,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

# 5. 모델 돌리기

## (1) RandomForest

## (2) XGBoost

## (3) LightGBM

In [63]:
X_features = train.drop(columns = 'OC',axis=1)
y_labels = train['OC']

In [64]:
X_train, X_test, y_train, y_test = train_test_split(X_features, y_labels, test_size=0.2, random_state=156)

In [65]:
# LightGBM의 파이썬 패키지인 lightgbm에서 LGBMClassifier 임포트
from lightgbm import LGBMClassifier
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [66]:
# 앞서 XGBoost와 동일하게 n_estimators는 400설정
lgbm_wrapper = LGBMClassifier(n_estimators=400)

# LightGBM도 XGBoost와 동일하게 조기중단 수행가능
evals = [(X_test, y_test)]
lgbm_wrapper.fit(X_train, y_train,
                 early_stopping_rounds=100, eval_metric="logloss",
                 eval_set=evals, verbose=True)
preds = lgbm_wrapper.predict(X_test)
pred_proba = lgbm_wrapper.predict_proba(X_test)[:, 1]

[1]	valid_0's binary_logloss: 0.152502	valid_0's binary_logloss: 0.152502
Training until validation scores don't improve for 100 rounds.
[2]	valid_0's binary_logloss: 0.151453	valid_0's binary_logloss: 0.151453
[3]	valid_0's binary_logloss: 0.150945	valid_0's binary_logloss: 0.150945
[4]	valid_0's binary_logloss: 0.142854	valid_0's binary_logloss: 0.142854
[5]	valid_0's binary_logloss: 0.142807	valid_0's binary_logloss: 0.142807
[6]	valid_0's binary_logloss: 0.143123	valid_0's binary_logloss: 0.143123
[7]	valid_0's binary_logloss: 0.143358	valid_0's binary_logloss: 0.143358
[8]	valid_0's binary_logloss: 0.14373	valid_0's binary_logloss: 0.14373
[9]	valid_0's binary_logloss: 0.141408	valid_0's binary_logloss: 0.141408
[10]	valid_0's binary_logloss: 0.144568	valid_0's binary_logloss: 0.144568
[11]	valid_0's binary_logloss: 0.14458	valid_0's binary_logloss: 0.14458
[12]	valid_0's binary_logloss: 0.143266	valid_0's binary_logloss: 0.143266
[13]	valid_0's binary_logloss: 0.144112	valid_0's binary_logloss: 0.144112
[14]	valid_0's binary_logloss: 0.144831	valid_0's binary_logloss: 0.144831
[15]	valid_0's binary_logloss: 0.143943	valid_0's binary_logloss: 0.143943
[16]	valid_0's binary_logloss: 0.1447	valid_0's binary_logloss: 0.1447
[17]	valid_0's binary_logloss: 0.145611	valid_0's binary_logloss: 0.145611
[18]	valid_0's binary_logloss: 0.144277	valid_0's binary_logloss: 0.144277
[19]	valid_0's binary_logloss: 0.146852	valid_0's binary_logloss: 0.146852
[20]	valid_0's binary_logloss: 0.146649	valid_0's binary_logloss: 0.146649
[21]	valid_0's binary_logloss: 0.150868	valid_0's binary_logloss: 0.150868
[22]	valid_0's binary_logloss: 0.154448	valid_0's binary_logloss: 0.154448
[23]	valid_0's binary_logloss: 0.153517	valid_0's binary_logloss: 0.153517
[24]	valid_0's binary_logloss: 0.154921	valid_0's binary_logloss: 0.154921
[25]	valid_0's binary_logloss: 0.158823	valid_0's binary_logloss: 0.158823
[26]	valid_0's binary_logloss: 0.15662	valid_0's binary_logloss: 0.15662
[27]	valid_0's binary_logloss: 0.159516	valid_0's binary_logloss: 0.159516
[28]	valid_0's binary_logloss: 0.164048	valid_0's binary_logloss: 0.164048
[29]	valid_0's binary_logloss: 0.164177	valid_0's binary_logloss: 0.164177
[30]	valid_0's binary_logloss: 0.169023	valid_0's binary_logloss: 0.169023
[31]	valid_0's binary_logloss: 0.172521	valid_0's binary_logloss: 0.172521
[32]	valid_0's binary_logloss: 0.176997	valid_0's binary_logloss: 0.176997
[33]	valid_0's binary_logloss: 0.178302	valid_0's binary_logloss: 0.178302
[34]	valid_0's binary_logloss: 0.178254	valid_0's binary_logloss: 0.178254
[35]	valid_0's binary_logloss: 0.177533	valid_0's binary_logloss: 0.177533
[36]	valid_0's binary_logloss: 0.176081	valid_0's binary_logloss: 0.176081
[37]	valid_0's binary_logloss: 0.180565	valid_0's binary_logloss: 0.180565
[38]	valid_0's binary_logloss: 0.182385	valid_0's binary_logloss: 0.182385
[39]	valid_0's binary_logloss: 0.184049	valid_0's binary_logloss: 0.184049
[40]	valid_0's binary_logloss: 0.185388	valid_0's binary_logloss: 0.185388
[41]	valid_0's binary_logloss: 0.19028	valid_0's binary_logloss: 0.19028
[42]	valid_0's binary_logloss: 0.19523	valid_0's binary_logloss: 0.19523
[43]	valid_0's binary_logloss: 0.197313	valid_0's binary_logloss: 0.197313
[44]	valid_0's binary_logloss: 0.200894	valid_0's binary_logloss: 0.200894
[45]	valid_0's binary_logloss: 0.202554	valid_0's binary_logloss: 0.202554
[46]	valid_0's binary_logloss: 0.20116	valid_0's binary_logloss: 0.20116
[47]	valid_0's binary_logloss: 0.201148	valid_0's binary_logloss: 0.201148
[48]	valid_0's binary_logloss: 0.20111	valid_0's binary_logloss: 0.20111
[49]	valid_0's binary_logloss: 0.20457	valid_0's binary_logloss: 0.20457
[50]	valid_0's binary_logloss: 0.208692	valid_0's binary_logloss: 0.208692
[51]	valid_0's binary_logloss: 0.210375	valid_0's binary_logloss: 0.210375
[52]	valid_0's binary_logloss: 0.209884	valid_0's binary_logloss: 0.209884
[53]	valid_0's binary_logloss: 0.211116	valid_0's binary_logloss: 0.211116
[54]	valid_0's binary_logloss: 0.216276	valid_0's binary_logloss: 0.216276
[55]	valid_0's binary_logloss: 0.217513	valid_0's binary_logloss: 0.217513
[56]	valid_0's binary_logloss: 0.222016	valid_0's binary_logloss: 0.222016
[57]	valid_0's binary_logloss: 0.22298	valid_0's binary_logloss: 0.22298
[58]	valid_0's binary_logloss: 0.227711	valid_0's binary_logloss: 0.227711
[59]	valid_0's binary_logloss: 0.227613	valid_0's binary_logloss: 0.227613
[60]	valid_0's binary_logloss: 0.228319	valid_0's binary_logloss: 0.228319
[61]	valid_0's binary_logloss: 0.230574	valid_0's binary_logloss: 0.230574
[62]	valid_0's binary_logloss: 0.233344	valid_0's binary_logloss: 0.233344
[63]	valid_0's binary_logloss: 0.23756	valid_0's binary_logloss: 0.23756
[64]	valid_0's binary_logloss: 0.240037	valid_0's binary_logloss: 0.240037
[65]	valid_0's binary_logloss: 0.24207	valid_0's binary_logloss: 0.24207
[66]	valid_0's binary_logloss: 0.244829	valid_0's binary_logloss: 0.244829
[67]	valid_0's binary_logloss: 0.247771	valid_0's binary_logloss: 0.247771
[68]	valid_0's binary_logloss: 0.250058	valid_0's binary_logloss: 0.250058
[69]	valid_0's binary_logloss: 0.251964	valid_0's binary_logloss: 0.251964
[70]	valid_0's binary_logloss: 0.254388	valid_0's binary_logloss: 0.254388
[71]	valid_0's binary_logloss: 0.251361	valid_0's binary_logloss: 0.251361
[72]	valid_0's binary_logloss: 0.25643	valid_0's binary_logloss: 0.25643
[73]	valid_0's binary_logloss: 0.257163	valid_0's binary_logloss: 0.257163
[74]	valid_0's binary_logloss: 0.259981	valid_0's binary_logloss: 0.259981
[75]	valid_0's binary_logloss: 0.265096	valid_0's binary_logloss: 0.265096
[76]	valid_0's binary_logloss: 0.266464	valid_0's binary_logloss: 0.266464
[77]	valid_0's binary_logloss: 0.269521	valid_0's binary_logloss: 0.269521
[78]	valid_0's binary_logloss: 0.270205	valid_0's binary_logloss: 0.270205
[79]	valid_0's binary_logloss: 0.275137	valid_0's binary_logloss: 0.275137
[80]	valid_0's binary_logloss: 0.277611	valid_0's binary_logloss: 0.277611
[81]	valid_0's binary_logloss: 0.274513	valid_0's binary_logloss: 0.274513
[82]	valid_0's binary_logloss: 0.279433	valid_0's binary_logloss: 0.279433
[83]	valid_0's binary_logloss: 0.283384	valid_0's binary_logloss: 0.283384
[84]	valid_0's binary_logloss: 0.285608	valid_0's binary_logloss: 0.285608
[85]	valid_0's binary_logloss: 0.288036	valid_0's binary_logloss: 0.288036
[86]	valid_0's binary_logloss: 0.290775	valid_0's binary_logloss: 0.290775
[87]	valid_0's binary_logloss: 0.294617	valid_0's binary_logloss: 0.294617
[88]	valid_0's binary_logloss: 0.295471	valid_0's binary_logloss: 0.295471
[89]	valid_0's binary_logloss: 0.297346	valid_0's binary_logloss: 0.297346
[90]	valid_0's binary_logloss: 0.302592	valid_0's binary_logloss: 0.302592
[91]	valid_0's binary_logloss: 0.307609	valid_0's binary_logloss: 0.307609
[92]	valid_0's binary_logloss: 0.311196	valid_0's binary_logloss: 0.311196
[93]	valid_0's binary_logloss: 0.313937	valid_0's binary_logloss: 0.313937
[94]	valid_0's binary_logloss: 0.316554	valid_0's binary_logloss: 0.316554
[95]	valid_0's binary_logloss: 0.319443	valid_0's binary_logloss: 0.319443
[96]	valid_0's binary_logloss: 0.324203	valid_0's binary_logloss: 0.324203
[97]	valid_0's binary_logloss: 0.329601	valid_0's binary_logloss: 0.329601
[98]	valid_0's binary_logloss: 0.330097	valid_0's binary_logloss: 0.330097
[99]	valid_0's binary_logloss: 0.332256	valid_0's binary_logloss: 0.332256
[100]	valid_0's binary_logloss: 0.335128	valid_0's binary_logloss: 0.335128
[101]	valid_0's binary_logloss: 0.337799	valid_0's binary_logloss: 0.337799
[102]	valid_0's binary_logloss: 0.339922	valid_0's binary_logloss: 0.339922
[103]	valid_0's binary_logloss: 0.342629	valid_0's binary_logloss: 0.342629
[104]	valid_0's binary_logloss: 0.339404	valid_0's binary_logloss: 0.339404
[105]	valid_0's binary_logloss: 0.341506	valid_0's binary_logloss: 0.341506
[106]	valid_0's binary_logloss: 0.345703	valid_0's binary_logloss: 0.345703
[107]	valid_0's binary_logloss: 0.349808	valid_0's binary_logloss: 0.349808
[108]	valid_0's binary_logloss: 0.355071	valid_0's binary_logloss: 0.355071
[109]	valid_0's binary_logloss: 0.357608	valid_0's binary_logloss: 0.357608
Early stopping, best iteration is:
[9]	valid_0's binary_logloss: 0.141408	valid_0's binary_logloss: 0.141408